include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/header
		include ../common/home
		include ../common/1solution



		include ../common/4what
		include ../common/5calc

		include ../common/footer
	// END body