.credit {
    padding: 191px 0;
    .wrap {
        display: flex;
        padding: 0 23px;
    }
    &__body {
        width: 51%;
    }
    &__descr {
        margin-top: 32px;
        margin-bottom: 59px;
        max-width: 400px;
    }
    &__attention {
        position: relative;
        padding-left: 82px;
        color: #075057;
        font-weight: 700;
        &:before {
            content: url(../img/icons/attention.png);
            position: absolute;
            top: 11px;
            left: -13px;
        }
    }
    &__order {
        position: relative;
        width: 49%;
        padding: 7%;
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            top: 15px;
            left: 0;
            width: 110%;
            height: 95%;
            background: #ffc905;
            z-index: -1;
        }
    }
    &__text {
        margin-bottom: 46px;
    }
}