.footer {
    padding: 77px 0 25px;
    background: #075057;
    color: #fff;
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    a {
        display: block;
        color: #fff;
    }
    &__top {
        display: flex;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 47px;
    }
    &__item {
        flex-grow: 2;
    }
    &__bottom {
        display: flex;
        font-weight: 200;
        font-size: 12px;
        line-height: 16px;
        align-items: center;
    }
    &__logo {
        display: inline-block;
        width: 56px;
        margin-left: 20px;
        img {
            width: 100%;
        }
    }
    &__conf  {
        display: flex;
        align-items: center;
        flex-grow: 1.1;
    }
}
