.header {
    padding: 17px 0;
    @media screen and (max-width: 820px) {
        padding: 7px 0;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    &__social {
        a {
            padding: 30px;
            font-weight: 500;
            color: #333;
            @media screen and (max-width: 820px) {
                padding: 15px;
            }
        }
        @media screen and (max-width: 820px) {
            font-size: 10px;
        }
    }
    &__mail {
        @media screen and (max-width: 820px) {
            display: none;
        }
    }
    .logo {
        @media screen and (max-width: 820px) {
            max-width: 80px;
            img {
                width: 100%;
            }
        }
    }
}



//header
