include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/header
		include ../common/home
		include ../common/1solution
		include ../common/2qa
		include ../common/3kviz
		include ../common/4what
		include ../common/5calc
		include ../common/6key
		//- include ../common/7credit
		include ../common/8time
		include ../common/9about
		include ../common/10stations
		include ../common/11reviews
		include ../common/12support
		include ../common/13consult
		include ../common/modal
		include ../common/footer
	// END body