section.solution
    .wrap
        .solution__items
            .solution__item
                .solution__icon 
                    img(src="img/icons/arrow.png", alt="arrow")
                .solution__text У вас есть коммерческая недвижимость, частный дом, производственные здания или пустая земля?
            .solution__item
                .solution__icon 
                    img(src="img/icons/arrow.png", alt="arrow")
                .solution__text Хотите, чтобы государство отправляло вам деньги, а не платежки “за свет”?
            .solution__item
                .solution__icon 
                    img(src="img/icons/arrow.png", alt="arrow")
                .solution__text Ищите возможность для выгодной инвестиции с высокой доходностью?
            .solution__item.active
                .solution__icon 
                    img(src="img/icons/icon-solar-energy.png", alt="arrow")
                .solution__text Решение для вас — собственная солнечная электростанция с подключением к “Зеленому тарифу”