section.qa
    .wrap
        .title.qa__title Узнайте, станция какой комплектации подойдет именно вашему объекту 
            span и как быстро она начнет приносить прибыль
        .qa__subtitle Для этого ответьте всего на 5 вопросов
           