section.what
    .wrap
        .what__body
            .title.what__title Что такое 
                span зеленый тариф?
            .what__descr Программа инициированная правительством Украины, которая позволяет продавать частными и юридическим лицам электроэнергию, полученную с помощью солнечной энергии, энергии ветра и других альтернативных источников.
        .what__items
            .what__item 
                .what__num 01
                .what__text Окупаемость домашней станции до 5 лет
            .what__item 
                .what__num 02
                .what__text От $1000 прибыль в год
            .what__item 
                .what__num 03
                .what__text Выгоднее, чем любой депозит в банке
            .what__item 
                .what__num 04
                .what__text Быстрый и гибкий возврат инвестиций