section.key
    .wrap
        .key__body
            .title.key__title Выполняем процедуру 
                span повышения мощности ЛЭП под ключ!
            .key__descr Мощность подведенной к вашему объекту линии электропередач не соответствует мощности станции?
        .key__right 
            .key__about
                | Хотите узнать больше об услуге? 
                br
                | Оставляйте заявку и наш менеджер 
                br 
                | предоставит бесплатную консультацию!
            a(href="#consult").scroll-to.btn.btn--orange Узнать больше
    .wrap
        .key__subtitle Берем весь бюрократический процесс на себя и сохраняем ваши нервы и время:
    .wrap
        .key__items
            .key__item
                .key__num 01
                .key__text Консультируем по всей процедуре
            .key__item
                .key__num 02
                .key__text Собираем за вас все необходимые документы
            .key__item
                .key__num 03
                .key__text Подаем документы в энергораспределительную компанию
            .key__item
                .key__num 04
                .key__text Контролируем процесс (звоним, выезжаем в районные и главные подразделения, ведем всю коммуникацию)
            .key__item
                .key__num 05
                .key__text Обустраиваем узел учета (подаем документы на параметризацию двунаправленого счетчика и получаем “Задание” на его замену)
            .key__item
                .key__num 06
                .key__text Подаем документы на переоформление договора с новой разрешенной мощностью
            .key__item
                .key__num 07
                .key__text Делаем проект внутренних электросетей
            .key__item
                .key__num 08
                .key__text Получаем акты заземления
        .key__right.key__right--mob
            .key__about
                span Хотите узнать больше об услуге? 
                br
                | Оставляйте заявку и наш менеджер 
                br 
                | предоставит бесплатную консультацию!
            a(href="#consult").scroll-to.btn.btn--orange Узнать больше