section.stations
    .wrap
        .title.stations__title Наши станции
        .stations__slider.owl-carousel
            .stations__item
                .stations__pic
                    img(src="img/stations/station1.jpg", alt="station")
                .stations__descr
                    .stations__name 
                        span Сетевая солнечная электростанция мощностью 27,6 кВт. в г. Херсон
                            .stations__arrow
                    .stations__points
                        .stations__point
                            .stations__point-name Дата запуска:
                            .stations__point-value 19.07.2019 г.
                        .stations__point
                            .stations__point-name Бюджет проекта:
                            .stations__point-value 9 580$
                    .stations__descr-name Оборудование:
                    .stations__descr-text 
                        ul
                            li 1. Солнечные панели Risen RSM120-6P-320P - 30 шт. ( Массив 9,6 кВт. )
                            li 2. Инвертор сетевой Solaredge SE27,6K (27,6 кВт) - 1 шт.
                            li 3. Оптимизаторы мощности SolarEdge P700 - 15 шт.
                            li 4. Защита Eti постоянной и переменной цепей - 1 комплект
                            li 5. Комплект алюминиевых креплений для солнечных панелей (Соларстальконструкция)
                    .stations__descr-name Выполненные работы:
                    .stations__descr-text 
                        ul
                            li 1. Проектирование солнечной электростанции и подбор оборудования 
                            li 2. Закупка и доставка оборудования
                            li 3. Монтаж солнечной электростанции
                            li 4. Пусконаладка и запуск солнечной электростанции
            .stations__item
                .stations__pic
                    img(src="img/stations/station2.jpg", alt="station")
                .stations__descr
                    .stations__name 
                        span Сетевая солнечная электростанция мощностью 10 кВт. в г. Бахмач, Черниговской обл.
                            .stations__arrow
                    .stations__points
                        .stations__point
                            .stations__point-name Дата запуска:
                            .stations__point-value 12.02.2019 г.
                        .stations__point
                            .stations__point-name Бюджет проекта:
                            .stations__point-value 9 980$
                    .stations__descr-name Оборудование:
                    .stations__descr-text 
                        ul
                            li 1. Солнечные панели Risen RSM-6-280P - 46 шт. ( Массив 12,88 кВт. )
                            li 2. Инвертор сетевой Fronius SYMO 10.0-3M - 1 шт. 
                            li 3. Защита Eti постоянной и переменной цепей - 1 комплект 
                            li 4. Комплект креплений для солнечных панелей на скатную кровлю (Kripter)
                    .stations__descr-name Выполненные работы:
                    .stations__descr-text 
                        ul
                            li 1. Проектирование солнечной электростанции и подбор оборудования
                            li 2. Закупка и доставка оборудования
                            li 3. Подача заявления на оформление договора по "Зеленому" тарифу и замену узла учета
                            li 4. Монтаж солнечной электростанции
                            li 5. Пусконаладка и запуск солнечной электростанции
            .stations__item
                .stations__pic
                    img(src="img/stations/station3.jpg", alt="station")
                .stations__descr
                    .stations__name 
                        span Сетевая солнечная электростанция мощностью 20 кВт. в с. Пуховка, Киевская обл.
                            .stations__arrow
                    .stations__points
                        .stations__point
                            .stations__point-name Дата запуска:
                            .stations__point-value 20.05.2019 г.
                        .stations__point
                            .stations__point-name Бюджет проекта:
                            .stations__point-value 14 880$
                    .stations__descr-name Оборудование:
                    .stations__descr-text 
                        ul
                            li 
                                | 1. Солнечные панели Longi Solar LR6-60-285M - 42 шт. 
                                br
                                | Longi Solar LR6-72-345M - 36шт. ( Массив 24,39 кВт. )
                            li 2. Инвертор сетевой Huawei SUN2000-20KTL (20 кВт) - 1 шт.
                            li 3. Защита Eti постоянной и переменной цепей - 1 комплект
                            li 4. Комплект креплений для солнечных панелей (Соларстальконструкция)
                            li 5. Счетчик Actaris Iltron ACE6000 + модем Sparklet
                    .stations__descr-name Выполненные работы:
                    .stations__descr-text 
                        ul
                            li 1. Параметризация счетчика, установка и заключение договора по Зеленому тарифу
                            li 2. Проектирование солнечной электростанции и подбор оборудования
                            li 3. Закупка и доставка оборудования
                            li 4. Монтаж солнечной электростанции
                            li 5. Пусконаладка и запуск солнечной электростанции
            .stations__item
                .stations__pic
                    img(src="img/stations/station4.jpg", alt="station")
                .stations__descr
                    .stations__name 
                        span Сетевая солнечная электростанция мощностью 30 кВт. в с. Бабинцы, Киевская обл.
                            .stations__arrow
                    .stations__points
                        .stations__point
                            .stations__point-name Дата запуска:
                            .stations__point-value 15.06.2019 г.
                        .stations__point
                            .stations__point-name Бюджет проекта:
                            .stations__point-value 21 880$
                    .stations__descr-name Оборудование:
                    .stations__descr-text 
                        ul
                            li 1. Солнечные панели Amerisolar 285W - 128 шт.  ( Массив 36,48 кВт. )
                            li 2. Инвертор сетевой Huawei SUN2000-33KTL-A (30 кВт) - 1 шт.
                            li 3. Защита Eti постоянной и переменной цепей - 1 комплект
                            li 4. Конструкция для солнечных панелей.
                            li 5. Комплект креплений для солнечных панелей (Соларстальконструкция)
                            li 6. Счетчик Actaris Iltron ACE6000 + модем Sparklet.
                    .stations__descr-name Выполненные работы:
                    .stations__descr-text 
                        ul
                            li 1. Параметризация счетчика, установка и заключение договора по Зеленому тарифу
                            li 2. Проектирование солнечной электростанции и подбор оборудования. 
                            li 3. Закупка и доставка оборудования.
                            li 4. Монтаж солнечной электростанции
                            li 5. Пусконаладка и запуск солнечной электростанции.
            .stations__item
                .stations__pic
                    img(src="img/stations/station5.jpg", alt="station")
                .stations__descr
                    .stations__name 
                        span Сетевая солнечная электростанция мощностью 15 кВт. в с. Демидов, Киевская обл.
                            .stations__arrow
                    .stations__points
                        .stations__point
                            .stations__point-name Дата запуска:
                            .stations__point-value 15.11.2018 г.
                        .stations__point
                            .stations__point-name Бюджет проекта:
                            .stations__point-value 10 800$
                    .stations__descr-name Оборудование:
                    .stations__descr-text 
                        ul
                            li 1. Солнечные панели Risen RSM60-6-275P - 45 шт. ( Массив 12,37 кВт. )
                            li 2. Инвертор сетевой Fronius SYMO 15-0-3 - 1 шт. 
                            li 3. Защита ABB постоянной и переменной цепей - 1 комплект 
                            li 4. Аннодированный профиль и крепления для солнечных панелей для 45 шт.
                    .stations__descr-name Выполненные работы:
                    .stations__descr-text 
                        ul
                            li 1. Проектирование солнечной электростанции и подбор оборудования
                            li 2. Закупка и доставка оборудования
                            li 3. Подача заявления на оформление договора по "Зеленому" тарифу и замену узла учета 
                            li 4. Монтаж солнечной электростанции
                            li 5. Пусконаладка и запуск солнечной электростанции
        .slider-counter
