section.reviews
    .wrap
        .reviews-wrap
            .title.reviews__title 
                span Оправдываем доверие 
                | и превосходим ожидания, 
                br
                | что подтверждают наши клиенты
            .reviews__slider.owl-carousel
                .reviews__item 
                    .reviews__pic
                        img(src="img/icons/review-icon.png", alt="review-icon") 
                    .reviews__descr
                        .reviews__name Дмитрий Ляшенко
                        .reviews__text Выбирал с большого количества компаний из данного сектора. Понравился сервис и обслуживание. Оформили договор, быстро смонтировали станцию. Запустили мониторинг. Оформили все документы по "Зеленому" тарифу. Даже не пришлось ходить в РЕС. Заменили счетчик. Получаю выплаты каждый месяц. Отдельная благодарность менеджеру Дмитрию за подробную консультацию и помощь в подборе оборудования.
                .reviews__item 
                    .reviews__pic
                        img(src="img/icons/review-icon.png", alt="review-icon") 
                    .reviews__descr
                        .reviews__name Сергей Васильевич
                        .reviews__text Первое знакомство с компанией SolarLed состоялась на выставке “Аква-Терм”. Представитель компании в доступной форме проконсультироал меня по монтажу солнечной системы и перспективах ее установки. Проанализировав рынок и нескольких фирм, я решил выбрать компанию SolarLed. После подписания договоора по оценке и установке оборудования, сотрудники компании выполнили работы качественно и в установленные договором сроки. работой фирмы остался доволен, люди ответственные, профессионалы по всем вопросам получаю полную информацию. А главное соответствие цены и качества. Рекомендую!
            .slider-counter--reviews