section.support
    .support__qa
        .wrap
            .title.support__title
                span У вас уже есть
                    br
                    | солнечная электростанция, 
                | но что-то пошло не так?
            .support__qa-text Мы знаем, что вы могли столкнуться с недобросовестным обслуживанием и установить солнечную электростанцию силами подрядчиков, которые “делают и пропадают”. 
    .wrap
        .support__body
            .support__attention Специально для вас мы предоставляем услугу “Сервисное обслуживание”
            .support__text Мы являемся сертифицированными сервис-партнерами большинства производителей, потому готовы взять на себя техническое обслуживание и поддержание функционирования вашей существующей станции
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 1000 1000', enable-background='new 0 0 1000 1000', xml:space='preserve')
                    g
                        g(transform='matrix(1 0 0 -1 0 1008)')
                        path(d='M756.2,741.8L990,508L756.2,274.2l-27,27L918.1,490H10v36h908.1L729.3,714.8L756.2,741.8z')

            div.support__btn
                a(href="#consult").scroll-to.btn.btn--green Узнать подробнее