section.calc
    .wrap
        .calc__head
            .calc__left
                .title.calc__title Какая окупаемость <br>и сколько можно зарабатывать 
                    span на солнечной электростанции?
                .calc__subtitle Хотите сориентироваться прямо сейчас? <br>Ознакомьтесь с базовыми предложениями:
            .calc__right 
                .calc__text Но каждый объект индивидуален и требует индивидуального расчета специалистом
                .btn.btn--orange Заказать расчет
        .calc__items
            .calc__line-names
                .calc__name 
                .calc__line
                    .calc__subname Стоимость
                    .calc__value 
                .calc__line
                    .calc__subname Мощность
                    .calc__value 
                .calc__line
                    .calc__subname Ориентировочный  доход в год
                    .calc__value 
                .calc__line
                    .calc__subname Срок окупаемости
                    .calc__value 
                .calc__line
                    .calc__subname Генерация в год
                    .calc__value 
                .calc__line
                    .calc__subname Необходимая  площадь
                    .calc__value 
            .calc__item
                .calc__name Minimal
                .calc__line
                    .calc__subname Стоимость
                    .calc__value 4800$
                .calc__line
                    .calc__subname Мощность
                    .calc__value 5 кВт
                .calc__line
                    .calc__subname Ориентировочный  доход в год
                    .calc__value 1050$
                .calc__line
                    .calc__subname Срок окупаемости
                    .calc__value 4.6 лет
                .calc__line
                    .calc__subname Генерация в год
                    .calc__value 6000 квт/ч
                .calc__line
                    .calc__subname Необходимая  площадь
                    .calc__value 30м2
            .calc__item
                .calc__name Optimal
                .calc__line
                    .calc__subname Стоимость
                    .calc__value 7500$
                .calc__line
                    .calc__subname Мощность
                    .calc__value 10 кВт
                .calc__line
                    .calc__subname Ориентировочный  доход в год
                    .calc__value 2100$
                .calc__line
                    .calc__subname Срок окупаемости
                    .calc__value 3.7 лет
                .calc__line
                    .calc__subname Генерация в год
                    .calc__value 12000 квт/ч
                .calc__line
                    .calc__subname Необходимая  площадь
                    .calc__value 60м2

            .calc__item
                .calc__name Optimal+
                .calc__line
                    .calc__subname Стоимость
                    .calc__value 13600$
                .calc__line
                    .calc__subname Мощность
                    .calc__value 20 кВт
                .calc__line
                    .calc__subname Ориентировочный  доход в год
                    .calc__value 4100$
                .calc__line
                    .calc__subname Срок окупаемости
                    .calc__value 3.3 года
                .calc__line
                    .calc__subname Генерация в год
                    .calc__value 24000 квт/ч
                .calc__line
                    .calc__subname Необходимая  площадь
                    .calc__value 120м2
            .calc__item
                .calc__name Maximum
                .calc__line
                    .calc__subname Стоимость
                    .calc__value 19100$
                .calc__line
                    .calc__subname Мощность
                    .calc__value 30 кВт
                .calc__line
                    .calc__subname Ориентировочный  доход в год
                    .calc__value 6300$
                .calc__line
                    .calc__subname Срок окупаемости
                    .calc__value 3 года
                .calc__line
                    .calc__subname Генерация в год
                    .calc__value 36000 квт/ч
                .calc__line
                    .calc__subname Необходимая  площадь
                    .calc__value 180м2