section.credit
    .wrap
        .credit__body
            .title Хотите солнечную 
                span электростанцию в кредит?
            .credit__descr Мы являемся официальными партнерами банка, который готов предоставить вам выгодные кредитные условия. 
            .credit__attention 
                | Вам не нужно ничего платить! 
                br
                | Погашение кредита будет обеспечено 
                br
                | работой вашей станции!
        .credit__order
            .credit__text Оставьте заявку и узнайте об условиях получения кредита, а также как скоро вы начнете зарабатывать на своей станции
            a(href="#").btn.btn--green Узнать