section.time
    .wrap
        .title.time__title 
            | Сколько потребуется времени на установку?
            span Какие этапы оплаты?
        .time__body
            .time__items
                .time__item
                    .time__num 
                        span 01
                    .time__desc 
                        .time__desc-wrap
                            .time__desc-num 1.1
                            .time__desc-text Подбор комплектации станции с учетом вашего бюджета и возможностей размещения
                .time__item
                    .time__num 
                        .time__num 
                            span 02
                    .time__desc 
                        .time__desc-wrap
                            .time__desc-num 2.1
                            .time__desc-text Заключение договора на поставку оборудования и монтаж
                        .time__desc-wrap
                            .time__desc-num 2.2
                            .time__desc-text Заказ оборудования
                        .time__desc-wrap
                            .time__desc-num 2.3
                            .time__desc-text Помощь в организации усиления линии электропередачи
                        .time__desc-wrap
                            .time__desc-num 2.4
                            .time__desc-text Разработка проекта станции на объекте
                        .time__desc-wrap
                            .time__desc-num 2.5
                            .time__desc-text Покупка счетчиков
                    .time__percent 
                        .time__percent-text Оплата
                        | 20
                        span %
                    .time__term
                        span Срок
                        | до 2 недель
                .time__item
                    .time__num
                        span 03
                    .time__desc 
                        .time__desc-wrap
                            .time__desc-num 3.1
                            .time__desc-text Отгрузка оборудования на объекте и начало монтажа
                        .time__desc-wrap
                            .time__desc-num 3.2
                            .time__desc-text Подготовка необходимых документов для подачи на “Зеленый тариф”
                        .time__desc-wrap
                            .time__desc-num 3.3
                            .time__desc-text Параметризация счетчиков
                    .time__percent 
                        .time__percent-text Оплата
                        | 60
                        span %
                    .time__term
                        span Срок
                        | до 20 дней
                .time__item
                    .time__num
                        span 04
                    .time__desc
                        .time__desc-wrap
                            .time__desc-num 4.1
                            .time__desc-text Окончание монтажа и ввод станции в эксплуатацию
                    .time__percent 
                        .time__percent-text Оплата
                        | 15
                        span %
                    .time__term
                        span Срок
                        | 1 неделя

                .time__item
                    .time__num
                        span 05
                    .time__desc 
                        .time__desc-wrap
                            .time__desc-num 5.1
                            .time__desc-text Подача документов на подключение “Зеленого тарифа”
                        .time__desc-wrap
                            .time__desc-num 5.2
                            .time__desc-text Замена счетчиков
                    .time__percent 
                        .time__percent-text Оплата
                        | 5
                        span %
                .time__item
                    .time__num
                        span 06
                    .time__desc 
                        .time__desc-wrap
                            .time__desc-num 6.1
                            .time__desc-text Включение “Зеленого тарифа”