section.about
    .wrap
        .about__body
            .title Кто мы
            .about__descr SolarLed — украинская компания, которая уже 8 лет помогает более чем 200 украинских семей обеспечить себя солнечной энергией и одновременно зарабатывать, используя для этого свой же дом. 
            .about__descr Мы гордимся своей долгой историей и надежным именем, которому доверяют потребители и партнеры.
        .about__items
            .about__item 
                .about__icon
                    img(src="img/icons/panel.png", alt="panel")
                .about__text Установили более 7000 м2 солнечных панелей за 8 лет работы
            .about__item 
                .about__icon
                    img(src="img/icons/like.png", alt="like")
                .about__text Предлагаем лучшую цену на рынке и премиум-сервис


            .about__item 
                .about__icon
                    img(src="img/icons/review.png", alt="review")
                .about__text Гарантируем качество монтажных работ и оборудования

            .about__item 
                .about__icon
                    img(src="img/icons/certificates.png", alt="certificates")
                .about__text Являемся официальными поставщиками лучших мировых брендов