section.home
    .wrap
        .main-title 
            | Делаем из вашей недвижимости источник пассивного дохода
            span с помощью солнечной энергетики
        .home__body
            .home__items
                .home__item
                    span.home__title Берем только 20% предоплаты
                    span.hone_descrс на заказ оборудования — лучшее условие на рынке
                .home__item
                    span.home__title Лучшее соотношение цены
                    span.hone_descrс за работы “под ключ” и качества услуг в Украине 
                .home__item
                    span.home__title Собираем и подаем документы
                    span.hone_descrс на “Зеленый тариф”
                .home__item
                    span.home__title Поставляем оборудование
                    span.hone_descrс и монтируем солнечные электростанции под ключ
            .home__roof

            