section.home
    .wrap
        .main-title 
            | Делаем из вашей недвижимости источник пассивного дохода
            span с помощью солнечной энергетики
        .home__body
            .home__items
                .home__item
                    span.home__title Берем только 20% предоплаты 
                    span.hone_descr на заказ оборудования — лучшее условие на рынке
                .home__item
                    span.home__title Лучшее соотношение цены 
                    span.hone_descr за работы “под ключ” и качества услуг в Украине 
                .home__item
                    span.home__title Собираем и подаем документы 
                    span.hone_descr на “Зеленый тариф”
                .home__item
                    span.home__title Поставляем оборудование 
                    span.hone_descr и монтируем солнечные электростанции под ключ
            //- .home__roof

            